<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DXNET" version="5.0.0" targetFramework="net48" />
  <package id="DXNET.XInput" version="5.0.0" targetFramework="net48" />
  <package id="FCTB" version="2.16.24" targetFramework="net48" />
  <package id="MQTTnet" version="4.3.3.952" targetFramework="net48" />
  <package id="MQTTnet.Extensions.ManagedClient" version="4.3.3.952" targetFramework="net48" />
</packages>